<%- include('partials/header') %>
<div class="center-card">
    <a class="btn btn-outline-success" href="/addresource">Add Resource</a>
    <a class="btn btn-outline-success" href="/view">Search Resource</a>
</div>
<%- include('partials/footer') %>