<%- include('partials/header') %>
<div class="center-card">
    <a class="btn btn-outline-success openbt" href="/addresource">Add Resource</a>
    <a class="btn btn-outline-success openbt" href="/view">Search Resource</a>
    <div id="inst">
        <i>Instructions:</i>
        <ul>
            <li>If you have any leads regarding Oxygen/Plasma,etc. Add the Resources/ contacts here.</li>
            <li>If you need a resource, go to Search Resource and Search using PIN code.</li>
        </ul>
    </div>
</div>
<%- include('partials/footer') %>